@font-face {
  font-family: "Product Sans";
  src: url("../fonts/productsans.ttf") format("truetype");
}
@font-face {
  font-family: "Version";
  src: url("../fonts/version.ttf") format("truetype");
}
@font-face {
  font-family: "Snap";
  src: url("../fonts/snap.ttf") format("truetype");
}
@font-face {
  font-family: "Python";
  src: url("../fonts/python.ttf") format("truetype");
}
@font-face {
  font-family: "Select";
  src: url("../fonts/select.ttf") format("truetype");
}
body {
  text-align: center;
  padding-bottom: 100px;
}
#bar {
  position: fixed;
  height: 80px;
  width: 100%;
  left: 0%;
  bottom: -60px;
  background-image: url("../img/bluecode.png");
  transition-property: bottom;
  transition-duration: 1s;
}
#bar:hover{
  bottom: 0px;
}
a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
a:hover {
  text-shadow: #43f0d3 10px 10px 10px;
}
a span {
  visibility: hidden;
  color: white;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  border: 3px dotted blue;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: rgb(17, 89, 49);
  opacity: 0;
  transition: opacity 1s;
}

a:hover span {
  visibility: visible;
  opacity: 1;
}
#settings {
  position: fixed;
  height: 60px;
  width: 60px;
  top: 2%;
  left: 2%;
  z-index: 5;
}
/* MARQUEE STUFF */

#home-title {
  font-family: Product Sans;
  font-size: 70pt;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes animate {
  100% {
    transform: translate(-100%, 0);
  }
}

#home-title div {
  padding-left: 100%;
  animation: animate 15s linear infinite;
  display: inline-block;
}

@keyframes spin {
  100% {
    transform: rotate(1080deg);
  }
}
#settings:hover #setting-icon {
  animation: spin 2s;
}
#setting-content {
  display: none;
  background-color: white;
  width: 500%;
  height: auto;
  overflow: auto;
  opacity: 1;
  max-height: 75vh;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#settings:hover #setting-content {
  display: block;
  animation: fadein 2s;
}
#settings hr {
  border: none;
  height: 10px;
  background-color: black;
}
select {
  width: 90%;
  height: 60px;
  font-family: Select;
  font-size: 15pt;
  bottom: 100px;
  font-weight: bold;
}
#home-games {
  font-family: Python;
  font-size: 30pt;
  color: salmon;
}
#backdrop{
  min-width: 100vw; 
  min-height: 100vh; 
  left:0%;
  display: inline-block;
  position: fixed;
  top: 0%;
  z-index: -1000;
}
#web-version{
  font-family: Version;
  font-size: 30pt;
  background-color:darkgreen;
  opacity: 0.5;
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 5;
  color: white;
  border: 4mm ridge rgba(170, 50, 220, .6);
  padding: 10px;
  transition-property: opacity;
  transition-duration: 1s;
}
#web-version:hover{
  opacity: 1;
}
