@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope.ttf");
}

@font-face {
  font-family: "Manjari";
  src: url("/fonts/manjari.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-header font-bold;
  }
  body {
    @apply bg-black text-white font-body text-2xl;
  }
  hr {
    @apply border-white;
  }

  a {
    @apply relative text-blue-200 before:content-[''] before:absolute before:w-full before:h-0.5 before:rounded before:bottom-0 before:left-0 before:bg-blue-400
      before:origin-right before:transform before:scale-x-0 before:transition-transform
      hover:before:origin-left hover:before:scale-x-100;
  }

  h1 {
    @apply text-8xl;
  }
  h2 {
    @apply text-7xl;
  }
  h3 {
    @apply text-6xl;
  }
  h4 {
    @apply text-5xl;
  }
  h5 {
    @apply text-4xl;
  }
  h6 {
    @apply text-3xl;
  }
}

@layer components {
  @keyframes flash {
  }
}
