@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(8px, 0, 0);
  }
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope.ttf");
}

@font-face {
  font-family: "Manjari";
  src: url("/fonts/manjari.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-header font-bold;
  }
  body {
    @apply font-body bg-white text-black text-2xl;
  }
  html[data-theme="dark"] {
    @apply bg-black text-white;
  }

  a {
    @apply underline hover:decoration-dashed decoration-blue-gray-500;
  }

  h1 {
    @apply text-8xl;
  }
  h2 {
    @apply text-7xl;
  }
  h3 {
    @apply text-6xl;
  }
  h4 {
    @apply text-5xl;
  }
  h5 {
    @apply text-4xl;
  }
  h6 {
    @apply text-3xl;
  }
}

@layer components {
  .dark {
    @apply bg-black text-white;
  }
}
